<!doctype html>
<html>
	<head>
		<title>mchub - sign up</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.2.2/font/bootstrap-icons.css">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
	</head>
	<body>
		{% load static %}
		<nav class="navbar navbar-light bg-light">
			<div class="navbar-header">
				<a href="/" class="navbar-brand">
					<img src="{% static 'images/icon.png' %}" class="rounded-sm" width="30" height="30">
					mchub&nbsp;&nbsp;
				</a>
			</div>
			<form class="form-inline"></form>
		</nav>
		<div class="m-3 p-1">
			<h1>Create a new accountant</h1>
			<form action="/signup/" method="post">
				{% csrf_token %}
				{% if existed %}
				<p class="text-danger">User name existed!</p>
				{% elif not_available %}
				<p class="text-danger">
				User name just can contains letters, _ and numbers, at least 3 letters!</p>
				{% elif not_same %}
				<p class="text-danger">Password not same!</p>
				{% elif too_weak %}
				<p class="text-danger">Passworld too short, at least 8 letters!</p>
				{% endif %}
				<div class="form-group row">
					<label class="col-sm-2 col-form-label" for="username">User name</label>
					<div class="col-sm-5">
						<input class="form-control" id="username" placeholder="User name" name="username" required>
						</input>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label" for="password">Password</label>
					<div class="col-sm-5">
						<input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
						</input>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label" for="verify">Verify</label>
					<div class="col-sm-5">
						<input type="password" class="form-control" id="verify" placeholder="Password" name="verify" required>
						</input>
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Join us</button>
			</form>
		</div>
		<footer>
			<hr>
			<p class="m-1" id="footer">Build with <a href="https://www.djangoproject.com/">Django 3.1.4</a>.</p>
		</footer>
	</body>
</html>
